html, body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background-image: url(assets/pictures/background.jpg);  
    background-size: cover;
 }
 
h2 {
    font-family: 'Rubik', sans-serif;
    color:#362A23;
    font-size: 2.4rem;
    text-transform: uppercase;
}

h3 {
    font-family: 'Rubik', sans-serif;
    color:#F0EDEB;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1.5pt;
}

h3.red-title {
    font-family: 'Rubik', sans-serif;
    color:#E63C1F;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1.5pt;
}

#Locaux, #Events {
    background-color:rgba(54, 42, 35, 0.877);
    mix-blend-mode: multiply;
}

#Trombi {
    background-color:rgba(240, 237, 235, 0.892);
    mix-blend-mode: multiply;
}

.button {
    padding : 0.8em;
    color: #F0EDEB;
    font-size: 1rem;
    border-style: solid;
    border-width: 2px;
    border-color: #F0EDEB;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.5pt;
    font-family: 'Rubik', sans-serif;
}

.button-red {
    padding : 0.8em;
    color:  #E63C1F;
    font-size: 1rem;
    border-style: solid;
    border-width: 2px;
    border-color:  #E63C1F;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1.5pt;
    font-family: 'Rubik', sans-serif;
}

footer {
    background-color: #E63C1F;
    color: #F0EDEB;
    font-family: 'Roboto', sans-serif;
}


/*NAVBAR*Morgan*/

.navg {
    margin: 0;
    padding: 0px;
    display: flex;
    background-size: cover;
    width: 100%;
    height: 6%;
    align-items: center;
    justify-content: space-evenly;
    align-content: flex-end;
    margin-bottom: 0;
    list-style: none;
}

/* .navg li:hover {
    background-color: rgb(180, 151, 151);
    border-radius: 20px;
} */

.navi {
    display: flex;
    align-content: space-between;
    list-style: none;
    text-decoration: none;
}



@media (max-width:960px) {
    html {
        font-size: 10px;
    }

    .navg {
        display: flex;
        align-items: center;
        position: fixed;
        bottom: 0;
        background-color: #362A23;
        z-index: 100;
    }

    nav a {
        text-transform: uppercase;    
        list-style: none;
        font-family: 'Rubik', sans-serif;
        color: #F0EDEB;
        text-decoration: none;
        font-size: 0.8rem;
        letter-spacing: 1.2pt;
    }

    .navi {
        color: #F0EDEB;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80px;
    }

    .navg li {

        height: 100%;
    }

    .banersize {
        width: 100%;
        height: auto;
    }

    .icon-nav {
        height: 30px;
        width: auto;
   }

   .toplogo {
        width: 60%;
        height: auto;
   }

    .logocenter {
        display: flex;
        justify-content: center;
    }
}

}

@media (min-width:961px) {


}